.SkillsTitle{
  font-family: 'Archivo Narrow', sans-serif;
  letter-spacing: 0.7mm;
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
  font-size: 32px;
  margin-bottom: 30px;
  padding-top: 60px;
}

.skillscontainer{
  margin-top: 50px;
  padding-bottom: 70px;
  margin-bottom: 50px;
  border-style: double;
  border-color: var(--p1);
  border-top: none;
  border-left: none;
  border-right: none;
  justify-content: space-between;
  margin-left: 10vw;
  margin-right: 10vw;
}

.SkillImg{
  height: 79px;
}

.skill{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.skill:hover .skillName{
  font-family: 'Asap Condensed', sans-serif;
  font-size: 15px;
  visibility: visible;
}

.skillName{
  visibility: hidden;
}



.tec4{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

.tec3{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}

@media (max-width: 786px){
  .SkillImg{
    height: 50px;
    width: 50px;
  }
}