:root {
  --secondary-color: rgb(180, 140, 20);
  --primary-color: #252525;
  --text-color: aliceblue;
  --tc: rgb(252, 252, 252);
  --p1: rgb(254, 72, 25);
  --p3: rgb(47, 131, 146);
  --p4: rgb(24,25,24);
}

body{
  margin: 0;
  background-color: var(--p4);
  color: var(--tc);
  max-width: 100%;
}

.navContainer{
  display: flex;
  background-color: var(--p1);
  flex-direction: row;
  position: fixed;
  justify-content: space-between;
  width: 100%;
}

.listItem{
  font-family: 'Archivo Narrow', sans-serif;
  color: var(--tc);
  margin-bottom: 15px;
  height: 27px;
  font-size: 14px;
  font-family: 'Segoe UI';
  margin-top:15px;
}

.listItem:hover{
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.items{
  text-decoration: none;
  font-weight: 500;
  color: var(--tc);
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 70vw;
  justify-content: space-between;
  padding-left: 3vw;
}

a{
  text-decoration: none;
}

.language{
  display: flex;
  position: relative;
  align-items: center;
  padding-right: 5vw;
}

.languageButton{
  background: none;
  border: solid;
  border-color: var(--p3);
  border-width: 3px;
  padding: 0;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.languageButtonImg{
  width: 100%;
  height: auto;
  display: block;
  border-radius: 50%;
}

.separator{
  color: var(--p1);
}

@media (max-width: 786px){
  .burger-button {
    display: block;
    cursor: pointer;
    padding-top: 12px;
    padding-left: 5vw;
  }

  .items {
    display: none; 
  }


  .items.open {
    display: block;
    background-color: var(--p3);
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  .burger-button .bar {
    width: 25px;
    height: 3px;
    background-color: var(--p3);
    margin: 4px 0;
    transition: 0.4s;
  }

  .burger-button.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .burger-button.open .bar:nth-child(2) {
    opacity: 0;
  }

  .burger-button.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}